[2016-09-28 11:24] shriharimurali opened #2 "Cannot find module './source-data.js'"
Cannot find module './source-data.js' from '/Users/Shrihari/projects/Sodastream-UI/node_modules/react-country-region-selector/dist'

My gulp throwing this error

[2016-10-03 15:40] thetimbanks opened #3 "Update release to 1.0.1 to include PR #1"
In order to get the updated `main` path in https://github.com/benkeen/react-country-region-selector/pull/1 a new release needs to be pushed out. Would you mind pushing out a new release to include this PR?

Thanks.

[2016-10-03 16:28] benkeen commented on #3
Gah, apologies. No problem - I'll get a new version out tonight.

[2016-10-03 16:29] thetimbanks commented on #3
No problem! Thanks for the update. :+1:

[2016-10-04 04:10] benkeen commented on #3
Done! 1.0.1 is now available. I also updated the data source to the latest version (https://github.com/benkeen/country-region-data)

[2016-10-04 04:10] #3 closed

[2016-10-04 12:10] thetimbanks commented on #3
Thank you! And thank you for the package. It is working great!

[2016-10-04 13:46] TheAncientGoat opened #4 "Why is the packaged version's source data file in ./lib empty?"
In order to use the widgets, I must first build it in my node modules folder with gulp? Isn't this a bit counter intuitive (and undocumented?) Why is the default export ./lib/rcrs.js and not ./dist/rcrs.js?

[2016-12-13 20:34] andresmijares opened #7 "Not listed option on whitelist"
Any chance to create some kind of whitelist plus an Not listed, value?

[2016-12-13 21:05] benkeen commented on #7
Hey @andresmijares  - I don't quite follow. There's both a `blacklist` and `whitelist` option to let you pinpoint what countries get included. Does one of those work for you?

[2016-12-15 14:30] andresmijares commented on #7
yeah! both work perfect but, I have an use case that goes as follows:

US
CAN
ARG
Not Listed

I need to catch that Not listed as well, does it support this case? :)

Ty for ur answer!

[2016-12-23 06:48] chidg opened #8 "Github URL on npm package page is incorrect"
Link to the Github package here https://www.npmjs.com/package/react-country-region-selector leads to a dead URL.

[2016-12-23 20:50] benkeen commented on #8
Thanks @chidg - I'll patch this up tonight.

[2017-01-03 02:26] #8 closed

[2017-03-10 21:05] dlong500 opened #9 "Per-country feature to use short values for regions"
I think it would be great to add some props to the `RegionDropdown` where a list of countries could be specified that override the `labelType` and `valueType` props only for those countries.

For example, you could have something like `valueTypeCountriesShort={['US']}` as well as `labelTypeCountriesShort={['US']}` to make only the United States show regions using short codes even if the overall se

[2017-03-12 23:42] advance512 opened #10 "Material UI support"
Any way to use this with the Material UI components?

[2017-03-13 09:16] cauldyclark15 opened #11 "Add Metro Manila Capital city of Philippines"
Hello!

First I want to thank you for your awesome work. May I request your side to add "Metro Manila" in regions of Philippines? Thanks again.

[2017-03-14 03:44] benkeen commented on #11
Absolutely! The data is housed under this repo: https://github.com/benkeen/country-region-data

Could you create an issue there with a link to a wikipedia article that lists all the regions of the Philippines - or something that clearly shows the regions and short codes for each. I'll then update it.

Thanks, @cauldyclark15!

[2017-03-14 03:44] #11 closed

[2017-03-20 10:26] leoc1f3r commented on #9
+1

[2017-04-04 22:35] zthornto opened #12 "Option not selected when value is present."
I have this package (which has been great outside of this one quirk - thank you) implemented, and it's not displaying a selected option when a value is passed into the component.

[code]

In the above example, I have confirmed that this.state.country is equal to "US", and the select has an option with a value of "US" after setting valueType="short".

The RegionDropdown correctly shows a list of US

[2017-04-04 22:52] zthornto commented on #12
As a follow up - I should have mentioned that i'm not sure if this is expected or not. If I call selectCountry and selectRegion when the data mounts, all is well - but I do know that React will display selected options out of the box, so it'd be nice if that functionality worked here as well.

[2017-04-10 21:26] tchaffee commented on #12
Is anyone already working to fix this? I need it and it looks fairly easy to fix, but I don't want to duplicate effort if someone is already on it.

[2017-04-11 19:53] bebbi commented on #12
The PR is to make the component controlled, that fixes the issues of select not updating when value is changed.
Can you check if this fixes it for you?

[2017-04-13 07:31] bebbi opened #15 "Minor doc issues"
In examples, wrong param region={} for RegionDropdown.
In README, countryValue => country.

[2017-05-16 20:39] cwhittl opened #18 "No way to disabled with a value?"
`<CountryDropdown` disabled=true value={country} labelType="short" valueType="short" />

doesn't work

Thanks!

[2017-05-18 07:54] #15 closed

[2017-05-18 09:15] benkeen commented on #18
True! `disabled` isn't an option yet. Let me add it to the next version for both CountryDropdown and RegionDropdown. Seems a pretty reasonable addition.

[2017-05-18 09:32] benkeen commented on #18
Added in 1.1.0.

[2017-05-18 09:32] #18 closed

[2017-06-13 03:41] marilyn commented on #10
I'm mucking around with this right now, as well as integrating with `redux-form` and would *love* to see it if someone has either of those already working.

[2017-07-04 21:38] kenxu0927 opened #19 "Option to use different HTML element than <select> to allow styling"
Is it possible to use other html elements rather than <select> so it can be styled?

[2017-07-19 15:46] PaulScala opened #20 "Region selector not working in IE"
Hi,

I noticed that any page that has the region selector included is not rendering properly in IE 11 and will break the page. The react country selector demos at [http://benkeen.github.io/react-country-region-selector/](http://benkeen.github.io/react-country-region-selector/) are breaking in IE 11 too.

On the website I am developing I am getting the following error in the IE console:

Any ideas

[2017-08-18 17:34] Ami777 opened #21 "Strange dependency: highlight.js"
Hi,

First of all, great lib, thank you!
Secondly, I don't understand what for this library has highlight.js dependency?

Regards,
Jakub.

[2017-08-18 22:01] benkeen commented on #21
Ah, I think it's used for the `gh-pages` branch and must've snuck in here too...

I'll check it out tonight. Thanks!

[2017-08-21 03:53] #21 closed

[2017-09-06 13:28] manushah commented on #20
Hi,

Any updates or workaround for this issue ?

[2017-09-07 03:34] benkeen commented on #20
Hi guys - sorry for not getting back to you sooner. Let me take a look at this. Keep you posted.

[2017-09-07 03:53] #20 closed

[2017-09-07 03:55] benkeen commented on #20
Thanks for posting the bug @PaulScala  - and reminding me @manushah!

I just released 1.2.1. The demos now work properly on IE11. It was my mistake; I forgot that array.find() wasn't standardized and not part of IE 11. All patched now!

http://benkeen.github.io/react-country-region-selector/

[2017-09-07 14:41] PaulScala commented on #20
@benkeen Thanks for the fix! I can confirm it is working now correctly for me in IE. This will make quite a few people I am working with happy. Granted I still don't understand why people would chose to use IE.

[2017-09-19 06:18] robertnealan opened #22 "onChange returns event.target.value rather than full event"
In many instances I often set a shared `onChange` handler to all inputs in a form, that trigger a common `setState` function that updates the state based on the input name (this seems to be a common pattern as documented by the (https://facebook.github.io/react/docs/forms.html#handling-multiple-inputs)[React Forms Multiple Components section]). Unfortunately it looks like the actual built-in onCha

[2017-09-21 09:35] nikhil4326 commented on #22
can we complete event from component. Is that possible?

[2017-09-21 21:31] benkeen commented on #22
Hey @robertnealan, nice! Yeah that makes sense. But how about return the full event as a second param? I think in the majority of cases people will only be interested in the value not the full event, and changing it like this would be a breaking change for existing users. Passing a second param would optionally provide access to the full event. Would that work for your case?

[2017-09-23 01:02] robertnealan commented on #22
That sounds reasonable to me, especially since it would keep the component backwards compatible for anyone that's already using it expecting just the target value. I'll put in a PR here in a bit and tag this issue in it.

@nikhil4326 Workin on it! 😉

[2017-09-24 05:50] nikhil4326 commented on #22
Thanks, That will help.

[2017-10-03 12:42] nikhil4326 commented on #22
Hi Guys, When will this prop will be available to use?

[2017-10-04 00:30] benkeen commented on #22
@robertnealan if you're swamped, no worries let me know and I can add this. Thanks!

[2017-10-04 07:17] nikhil4326 commented on #22
Yeah Almost. I need this. Please add.

[2017-10-04 10:56] robertnealan commented on #22
Super swamped but actually had this ready the other day - just needed to push and PR 😅

See PR #23

[2017-10-05 03:05] benkeen commented on #22
Thanks @robertnealan - all merged! It's in 1.2.2.

[2017-10-05 03:05] #22 closed

[2017-10-05 09:35] robertnealan commented on #22
Awesome - thanks @benkeen !

[2017-10-06 07:17] Sandy7000 opened #24 "The event passed on the onChange doesn't have the values for 'accessKey', 'name', etc"
Hi,

This is related to the issue 'onChange returns event.target.value rather than full event #22' which is closed recently. I took the latest version and I'm able to get the event on onChange(). But the event.target doesn't contain the default values like: accessKey, name, etc.
I'm creating multiple RegionDropdown s dynamically.
Here is my method:
 <RegionDropdown
                            acce

[2017-10-26 06:14] asplogic opened #26 ""Viet Nam" is one word "Vietnam""
Correct spelling is Vietnam

[2017-10-26 15:40] benkeen commented on #26
Thanks @asplogic - I've created a ticket on the source repo here: https://github.com/benkeen/country-region-selector/issues/59

I'll update that this weekend (or feel free to put in a PR!)

[2017-10-31 15:13] RaghuMurugesan commented on #10
Do you have any temp workaround or hack to achieve this?

[2017-11-07 22:01] slopes321 opened #28 "React as peerDependency?"
I'm trying to upgrade to React v16 and I'm running into the issue described here:
https://stackoverflow.com/questions/46466253/migration-to-react-16-0-0-error-cannot-find-module-react-lib-reactcomponenttre

I get the output below when I run `yarn list react` and `yarn list react-dom` respectively:

[code]

[code]

Should `react-country-region-selector` be specifying `react` as a `peerDependency`?

[2017-11-08 01:57] benkeen commented on #28
Interesting case this! I just merged in the PR on the issue. I'll release a new version of the lib shortly.

[2017-11-08 01:57] #28 closed

[2017-11-08 02:15] benkeen commented on #26
Fixed in 1.2.3. Thanks!

[2017-11-08 02:15] #26 closed

[2017-12-02 19:17] aminsource opened #29 "How I generate and use custom country and region data(with farsi or arabic language)"

[2017-12-06 07:05] Subramanian8 opened #30 "onBlur not working in CountryDropdown and RegionDropdown."
onChange method working fine.
but, onBlur method not working in CountryDropdown and RegionDropdown.

is any way to use onblur ?

[2018-01-16 13:07] shishiranshuman opened #31 "Functionality to add more options to the dropdown."
Hello, I need to know if one of the following is possible or not:
* Add our own custom options to the dropdown list.
* Get the region list based on the country selected. If this is possible I can push the custom options to the region list and then render it inside the `select` tag.

For example: I need to add `National` in the region dropdown:
![custom region-value](https://user-images.githubuserc

[2018-03-21 02:12] benkeen commented on #30
I'm just updating the lib today - I'll include the option to specify onBlur. Thanks!

[2018-04-11 19:50] leschaller1 opened #34 "Version 1.3.0 not yet published to npm"
This was updated to version 1.3.0 on 3/20/18, but hasn't been published to npm.

https://www.npmjs.com/package/react-country-region-selector?activeTab=versions

[2018-04-11 19:59] benkeen commented on #34
Drat, sorry about that @leschaller1 - I'll publish it tonight.

[2018-04-11 20:03] leschaller1 commented on #34
Thanks @benkeen !

[2018-04-11 21:08] leschaller1 opened #35 "Component doesn't update when classes change"
One more issue:

I'd like to use dynamic class names on my region dropdown, but the component only updates when the country or region changes:
https://github.com/benkeen/react-country-region-selector/blob/master/src/rcrs.js#L106

Is there a reason this isn't allowed or can you add an exception for `classes` here so it updates when they change?

[2018-04-12 05:34] benkeen commented on #34
Done!

[2018-04-12 05:34] #34 closed

[2018-04-13 07:36] Kostjayanch commented on #31
Hello, when would be new version release? I really wanted this feature.
Thanks

[2018-04-13 10:55] shishiranshuman commented on #31
Hi, @Kostjayanch I have created a PR for the above feature. There are few conflicts I'll resolve them soon.

But if you really need it urgently, you could try installing the module using the branch. Even I was doing the same. 😅

[2018-04-16 15:48] leschaller1 commented on #35
@benkeen Was going to create a PR for this https://github.com/benkeen/react-country-region-selector/compare/master...leschaller1:master but `gulp` updates hundreds of unrelated lines in lib and dist folders. This is a one line change. Let me know if this is ok to open up or if you plan on resolving the issue. If not, please let me know so I can find an alternate workaround.

Thanks!

[2018-05-04 09:02] hamzaahmadse opened #37 "how do i get the value of country id from the country dropdown??"
i want to get the country and region ids from the dropdown list
??

[2018-05-28 10:21] ryuran opened #39 "Data origin ?"
Where datas come from ?

[2018-05-28 10:22] #39 closed

[2018-05-29 01:35] scottwleonard opened #40 "make blacklist work with full names if that is the valuetype selected"
I am using the selector to populate a list of countries. the user should be able to pick each country once and only once. I was going to use the blacklist to facilitate this, but ran into a problem;

right now, if I want to use full names in my data store, but want to blacklist selected values I need to somehow retrieve the short name based on the full name from the raw data.

It seems logical tha

[2018-06-18 11:11] CarlosUvaSilva opened #41 "border radius"
I'm trying to remove the border-radius of the dropdown but I can't seem to do it.
I'm trying border-radius: unset and it overrides the default 5px but the component doesn't change

[2018-07-08 11:34] milonite opened #42 "Hot to edit label in css?"
How to edit the css? I can only edit the general selector style, not other stuff like the arrow, the label, the color of the text after an inserction..

[2018-07-09 17:00] #35 closed

[2018-07-17 12:56] leschaller1 opened #43 "Sync data with country-region-data - Metro Manila"
Could you publish a version of react-country-region-selector with the latest data from [country-region-data](https://github.com/benkeen/country-region-data)? My PR to add Metro Manila for the Philippines was merged recently https://github.com/benkeen/country-region-data/pull/34

[2018-07-20 04:14] zamirkhan opened #44 "Reactify is deprecated"
https://github.com/andreypopp/reactify

They recommend switching to babelify. It's also drawing in react-tools, which leads to an NPM warning:

`npm WARN deprecated react-tools@0.13.3: react-tools is deprecated. For more information, visit https://fb.me/react-tools-deprecated`

[2018-07-21 05:14] benkeen commented on #44
Thanks, @zamirkhan - yeah this repo has gotten a little behind. I'll try to look at it this weekend.

[2018-07-21 16:13] benkeen commented on #44
Ah yeah, I remember this now. I used gulp on this repo just to try it out compared to grunt. Boy, this IS old.

I think I'm actually going to upgrade the whole repo... it's so dated, even the code.

[2018-08-01 23:10] calebnelson commented on #10
Does anyone know what the status of this is? I see there's a "react-country-region-selector-material-ui" package but it's not working for me

[2018-08-02 20:45] calebnelson commented on #10
As a workaround I just imported CountryRegionData from the package and made my own material ui selectors using the data as seen here

[code]

[2018-08-08 04:11] benkeen opened #45 "Move to rollup"

[2018-08-11 13:17] SimonSchick opened #47 "Missing autocomplete"
can you please pass-through that attribute?

[2018-08-11 15:05] benkeen commented on #47
Yeah absolutely. I'll include this in the next release. Thanks!

[2018-08-11 19:29] SimonSchick commented on #47
In general you might want to thing about doing a pass through of arbitrary attributes to avoid problems like these in the future.
One approach I have seen is using rest destructuring, however that would probably require some transpiler (babel/TS).

[2018-08-17 22:00] lightninglu10 opened #48 "Missing Gulpfile"
Hey guys, how do you build? There's no build command inside the package.json and no gulpfile as specified by the README.

[2018-08-18 03:09] benkeen commented on #48
Ah, sorry - master is in development. Check out the latest release and build the code off that.
https://github.com/benkeen/react-country-region-selector/tree/1.3.0

I'll update the main readme to clarify this. Thanks!

[2018-09-01 16:07] SimonSchick opened #49 "1.4 release?"
Just wondering when that will happen :)

[2018-09-02 02:33] benkeen commented on #49
haha thanks for the pester :) I've been wrapped up in other projects and to be honest, fixing build processes are NOT my favourite thing on earth...

I'll pick this back up tomorrow or Monday. Shouldn't take too long... but pester me if it's not released in the next week.

[2018-09-06 04:30] benkeen opened #50 "1.4 checklist"
Stuff to do before releasing 1.4:

- ~Fix build process for building custom build with specific countries.~
- ~Pass-through attributes!~
- ~Rename `index.js` and `index.es.js` to `rcrs.js` and `rcrs.es.js` respectively.~
- ~Error in examples: "Warning: React does not recognize the `showDefaultOption` prop on a DOM element. "~
- ~Update README with 1.4 changes.~

[2018-09-06 05:28] benkeen commented on #47
I've added in the option to pass arbitrary properties, but for HTML `<select>` elements, I don't think the autoComplete attribute does anything. No?

I just stumbled across the `<datalist>` HTML element which I'm absolutely staggered I've never heard of before. Is this something like the functionality you had in mind @SimonSchick?
https://jsfiddle.net/shivamrajput/v1duL6y1/

[2018-09-06 05:33] benkeen commented on #44
This has been removed with 1.4.0. I'll be releasing it in the next few days. Closing!

[2018-09-06 05:33] #44 closed

[2018-09-06 05:33] benkeen commented on #45
Added.

[2018-09-06 05:33] #45 closed

[2018-09-06 05:34] #30 closed

[2018-09-06 05:35] benkeen commented on #43
Thanks @leschaller1  - will do. I'll update it in 1.4.0.

[2018-09-06 08:57] SimonSchick commented on #47
`autocomplete` inserts user data automatically for autofill, it works for basically all input types.

[2018-09-07 00:14] benkeen commented on #47
Ah, gotcha. Yeah this has been added in the latest code and will be in 1.4. Closing!

[2018-09-07 00:14] #47 closed

[2018-09-07 00:15] #49 closed

[2018-09-08 17:06] #43 closed

[2018-09-09 17:13] #50 closed

[2018-09-09 17:13] benkeen commented on #48
I've just released 1.4.1 that moves everything to rollup. The README includes info on how to build.

Thanks!

[2018-09-09 17:13] #48 closed

[2018-09-09 17:17] benkeen opened #51 "*** AnnouncementL: 1.4.1 released - includes breaking changes ***"
Hey all, I just released 1.4.1. Please let me know if you run into any problems.

Release notes:

- *Breaking change*: the library is no longer exported in UMD format. Now only exported in es6 (dist/rcrs.es.js) and commonJS (dist/rcrs.js) format. This library is intended for use in React applications.
- *Breaking change*: no longer available via Bower. I don't recall ever including a react compone

[2018-09-09 17:28] benkeen commented on #41
Hi Carlos, the dropdowns/select boxes are just plain HTML, so styling may be limited to whatever your browser permits. But you should be able to style them to change the border radius.

https://stackoverflow.com/questions/1895476/how-to-style-a-select-dropdown-with-only-css

[2018-09-10 15:54] SimonSchick opened #52 "TypeScript support"
As you know we've been using this library and it's working pretty well, we created some typings for internal use and would like you to publish them with your packages so others can use them too:

Contra:
 - Are you down to ship and maintain them?
 - ~They are not exactly complete~ You might want to check this
 - You re-export `country-region-data` which has no typings, I had to include them.
   -

[2018-09-11 02:54] benkeen commented on #40
Agreed, this is very reasonable. Hmph, how to do it without introducing a breaking change...

[2018-09-11 03:01] benkeen commented on #52
Hey @SimonSchick,

Thanks! Actually I wouldn't mind converting this whole lib to Typescript; a standalone library like this would benefit from it. But I'm going to have to turn back to another project for a couple of weeks before returning to this project. I can look at the Typescript change then.

Yup.

Actually they're a bit different. The country-region-data info exported via the library is in

[2018-09-11 03:33] benkeen commented on #37
Hi @HamzaAhmad932, there aren't really "IDs" associated with the regions or countries - only whatever value attributes you choose for them (either the full country/region name by default, or the shortcodes if you enter `valueType="short"` on the CountryDropdown/RegionDropdown components).

[2018-09-11 03:35] benkeen commented on #31
Hi @shishiranshuman,

Thanks again for your patience. 1.4.1 is out the door, so feel free to put in a PR whenever you're able.

If you have any trouble with the new rollup configuration, let me know.

Ben

[2018-09-11 03:38] benkeen commented on #29
Hmm that's a very good question, @aminsource. As it stands the [data source](https://github.com/country-regions/country-region-data) is all in English, so realistically the first battle would be to provide a Farsi translation of that entire data source - which would be a great deal of work. If you have any suggestions about that I'd be willing to update this library to intake the different lang-sp

[2018-09-11 05:40] shishiranshuman commented on #31
Cool. Thanks, @benkeen
You may expect the PW within two days.

[2018-09-11 09:41] jurjees23 opened #53 "Regarding validation"
how to set required validation for country and region field

[2018-09-12 04:00] benkeen commented on #53
Hi @jurjees23, there's nothing in the script for validation. But you can do validation however you want: your component will house the values in the two dropdowns so you can use that information to determine error states and display whatever errors you need in your form.

All the best!

[2018-09-12 04:36] jurjees23 commented on #53
Thank you for your information

[2018-09-12 07:56] shishiranshuman commented on #31
@benkeen Created a PR. Please have a look.

[2018-09-12 13:54] benkeen commented on #31
Great stuff, thanks! I'll take a look tonight after work.

[2018-09-15 04:34] benkeen commented on #31
Thanks for adding this feature, @shishiranshuman - it'll be included in the next release. Closing.

[2018-09-15 04:34] #31 closed

[2018-09-17 13:32] SimonSchick commented on #52
@benkeen default `input` `onChange` signature doesn't provide the value, only the reference to element, that's what I mean.

[2018-09-18 02:02] benkeen commented on #52
Ah, gotcha! Thanks.

[2018-09-24 22:03] bsansone commented on #35
@leschaller1 We're you able to resolve this? I'm experiencing this issue as well.

[2018-10-02 15:36] zamirkhan opened #55 "Ability to add list of popular/common countries to top"
I believe this is a feature request for functionality not currently supported, but please correct me if I'm mistaken.

I would like to be able to list a set of countries that would appear at the top of the list, separated by a vertical line from the overall alphabetical list. The top list would include the countries that are the most common choices of my users.

For example:

United States
Canada

[2018-10-03 04:32] benkeen commented on #55
Yeah. There's actually an old PR in for this very feature which I didn't merge in a timely fashion.
https://github.com/country-regions/react-country-region-selector/pull/27

I'll get that patched up and merged in this weekend and release a new version then.

Thanks!

[2018-10-05 05:53] chorton opened #56 "Ability to make readOnly"
Is there any way to make the select field readOnly?  I can't use disabled because I need a selected value submitted.  I have a case where what I really need is to make option selection change not available to an end-user, so that the app will select it automatically based on a different decision elsewhere in the form.

[2018-10-06 02:28] chorton commented on #56
ah!  I figured it out :)  It pays to look at the component code.  Looks like we can pass in arbitrary attributes and it'll include them.  Excellent!  Thank you.

[2018-10-06 02:28] #56 closed

[2018-10-19 14:14] ymeliberty opened #58 "How to display the country list in another language ?"

[2018-10-30 17:53] benkeen opened #59 "Check "module""

[2018-10-30 17:55] benkeen opened #60 "Check "module" export is in es5"
Just got burned by this with another lib. The exported "module" version of the rollup should be in es5, containing only import/exports. Double check that's the case because it's what webpack looks at by default.
https://github.com/rollup/rollup/wiki/pkg.module#wait-it-just-means-import-and-export--not-other-future-javascript-features

[2018-10-30 17:55] #59 closed

[2018-10-31 18:27] ferrucc-io opened #62 "How to properly select Default values"
Hi there,

I've been using react-country-region-selector in my project, but I'm having trouble figuring out how to properly make an "update" page.

By specs we are not allowed to specify defaultValue, so I was wondering if at the moment this isn't supported. I'd also need to specify a defaultCountry in the region selector.

At the moment I'm using `defaultOptionLabel` and `blankOptionLabel` but th

[2018-11-02 11:42] reaganscofield opened #63 "is there anyway to dispaly the default country ?"

[2018-11-07 15:49] zackkrida opened #64 "Thank You!"
Howdy, just wanted to say thanks—this library was exactly what I needed, and so well written to be composable and easy to apply my own styles. Dropped it into my project and everything worked instantly! 👏

[2018-11-08 03:08] benkeen commented on #64
Thanks @zackkrida! Nice of you to say. :) Update coming in the next few days that'll allow prioritizing of countries at top of list...

[2018-11-08 03:09] benkeen commented on #63
Hi @reaganscofield, I don't quite follow - you can set the default country by passing in a prop. Or are you trying to display it outside the component somehow?

[2018-11-08 03:10] benkeen commented on #58
Hey @ymeliberty, I'm afraid that's not doable right now. The dataset is exclusively in English.
https://github.com/country-regions/country-region-data

Sorry about that.

[2018-11-08 03:14] benkeen commented on #62
Hey @ferrucc-io! Sorry for not responding sooner.

Hmm... did you check out example #9 here?
http://country-regions.github.io/react-country-region-selector/

That shows how to set the default country and region from your own values:

[code]

Does rather looks like your code is fine though... are you sure your country and region data being passed in is correct?

[2018-11-08 20:02] faheemaliramay opened #65 "Question: Does this support city dropdown ?"

[2018-11-09 03:20] benkeen commented on #65
Hi @faheemaliramay, no - it only handles countries and regions. Sorry about that!

[2018-11-09 04:13] benkeen opened #66 "Fix demo page"
Meh. Can't get the script to update github pages for 1.4.2. Fix!

[2018-11-11 14:51] SimonSchick opened #67 "1.4.2 changelog missing"
Could you add it? :)

[2018-11-15 20:18] chorton opened #68 "Utility for conversting countries and state/provinces to different alphas"
Would it be possible to take a country and/or state/province that I already have that uses the full names and convert that with this package to the alpha-2 / short value?  I want to use the short values in the dropdowns, so I need a way to convert my given address to the short value I can pass to the component.  Thoughts?

[2018-11-16 02:53] benkeen commented on #68
Hey @chorton, fiddly one! I'm afraid this really needs to be a custom task you'll need to do on your end. A key component of this would be for you to get the full list of countries/province (your own strings) and for that you really need to first gather them up and put them into a convenient data structure (probably JSON). At that point you could handle the conversion.

The data source of the coun

[2018-11-26 17:16] faheemaliramay commented on #65
Okay Thank you

[2018-11-27 15:35] mattclough1 opened #69 "Component has a strict shouldComponentUpdate method, preventing things like className changes"
If I need to change any props on the RegionDropdown component (and presumably other components in the lib), it won't work because it has a very restrictive shouldComponentUpdate method. Is there any reason to not just make this a PureComponent?

https://github.com/country-regions/react-country-region-selector/blob/f12b1d7aa8b915eec4db202ebe25081d5eba6326/src/RegionDropdown.js#L16

[2018-11-28 06:18] benkeen commented on #69
Thanks for the heads up, @mattclough1. Yeah this needs to change - and yes, a PureComponent seems perfectly reasonable for this.

A few other people have noted that it's failing to update once the props change; I'll include a fix for this this in the next release.

[2018-11-28 06:19] #55 closed

[2018-11-28 06:21] benkeen commented on #67
Hey @SimonSchick - It's in the README, here: :)
https://github.com/country-regions/react-country-region-selector#changelog

[2018-11-28 06:21] #67 closed

[2018-11-28 06:21] #65 closed

[2018-11-29 23:09] mattclough1 commented on #69
Thanks @benkeen!

[2018-12-02 18:57] benkeen commented on #60
Lookin' good!

[2018-12-02 18:57] #60 closed

[2018-12-02 19:06] benkeen commented on #69
I just published the new version. Note: I'm having some glitches updating the github pages demo. Will figure it later out today.

[2018-12-02 19:06] #69 closed

[2018-12-02 22:41] #66 closed

[2018-12-02 22:41] benkeen commented on #2
Closing old issues.

[2018-12-02 22:41] #2 closed

[2018-12-02 22:42] benkeen commented on #4
Hey sorry for not responding. This has been rewritten in newer versions to use rollup and a more standard dist packages.

[2018-12-02 22:42] #4 closed

[2018-12-12 07:41] oskarer commented on #53
@jurjees23 You can set the `required` prop on `CountryDropdown` and `RegionDropdown` to enable regular HTML5 form validation.

[2019-01-05 18:53] ksnyder opened #70 "Multiple selections?"
Does this library support selecting multiple countries?  The Readme says that any attributes not specific to this library will be used in the <Select> tag but none of these get passed through:

multiple,
multiple = { true },
multiple = '',
multiple = 'true',

[2019-02-17 13:59] sevban20 opened #71 "The Script isn't working."
I try to use that but I have an error that Text strings must be rendered within a <Text/> component.

[2019-05-03 22:02] Rc85 opened #72 "required attribute"
The dropdown inputs need a required attribute for form validation

[2019-05-04 15:50] benkeen commented on #72
Hi @Rc85, this should work as-is. Any properties passed to the two components that aren't explicitly defined should be output onto the DOM element. Let me know if this isn't the case.

[2019-05-10 12:35] Rc85 commented on #72
It's not working in my case. Not sure what I'm doing wrong. I simply just added a "required" prop.

onBlur works, but onFocus doesn't. The readme has onBlur listed as one of its props, so maybe that's why. This leads me suspect that built-in component props are not passed in.

[2019-07-02 04:52] Rc85 commented on #72
Appears to be working now. Maybe I was doing something wrong.

[2019-07-02 04:53] #72 closed

[2019-07-02 04:55] Rc85 opened #73 "Some countries' region "short" valueType shows the digit/index."
The two that I have discovered are Algeria and Antigua and Barbuda

[2019-08-21 17:55] lauratan opened #74 "Update release with country-region-data version 1.4.6"
Just wondering when this can be done :) thank you!!!

[2019-08-22 06:34] benkeen commented on #74
Sorry, @lauratan! I'll do this tomorrow night :)

[2019-08-23 06:17] benkeen commented on #74
I just released the new version. If you have any trouble with it, just open an issue or comment here.

[2019-08-23 06:17] #74 closed

[2019-08-23 12:11] rishabhzvky opened #75 "How can I trigger onClick using some other button or element having onClick?"

[2019-08-25 02:26] benkeen commented on #75
Hey @rishabhzvky, have you tried adding an onClick prop to the components? Any arbitrary props should be passed on the the DOM element, so it should work.

But right now there's no way to trigger it to show the dropdown - for that it really needs to expose the `ref` for ref forwarding, so you can do it manually. I'd be happy to take a pull request if anyone want to add that.

[2019-08-25 02:28] benkeen commented on #70
Ah interesting... that's true, those ones probably won't work. The component relies on having a single country value to determine what regions to show. It currently wouldn't know how to behave if there were multiple countries selected. How would you like it to behave, btw? Perhaps group the regions in an `<optgroup>`, one for each country?

[2019-08-28 18:58] rhdez opened #76 "Custom CountryRegionData"
Hi, Guys. Is it possible to use a custom CountryRegionData?

Thanks in advance!

[2019-09-30 08:56] creepygiraff commented on #52
I´m trying to implement this with typescript (wich is pretty new to me) in a sharpoint webpart (propertypane). The question is: could you give an example on how you implement it in ts?

[2019-10-08 19:06] gmpofficial opened #77 "componentWillReceiveProps deprication warning"
Receiving this warning in version 1.4.4 of react-country-region-selector with React version 16.10.2.

I have manually changed **componentWillReceiveProps** to **componentDidUpdate** in the source code but would be good to have it fixed in the next update :)

[2019-10-10 03:30] benkeen commented on #77
Thanks @gmpofficial. I'll take a look at this.

[2019-10-10 04:56] benkeen commented on #77
I just released 1.4.5 which includes a few updates, including this one. Let me know if you have any problems. Thx!

[2019-10-10 04:56] #77 closed

[2019-12-08 23:17] theevann opened #79 "Region dropdown not displaying custom options on first load when country is pre-set"
On the first load of the component, if country is pre-set, then the region component is not displaying custom options.

To re-use the example :
[code]

[2019-12-11 06:12] Mnabawy commented on #79
hey @theevann if you are using hooks why you don't use function component

[2020-01-03 18:35] snobear commented on #71
Had the same issue, but then realized this project isn't supported on React Native.

[2020-03-12 11:13] steven-r opened #81 "Typescript is missing event in onChange"
The typescript implementation for react-country-region-selector is missing the event:

[code]

it should be
[code]

see also #52

[2020-03-19 15:42] CosminDinu12 opened #83 "React Hook Form support"
Hello!
React Hook Form needs access to the ref attribute in order to function properly. React-country-region-selector doesn't have it, do you plan on adding this attribute?

Thanks!

[2020-03-19 23:38] jan-rodriguez opened #85 "Incorrect typescript types for `disableWhenEmpty` and `disabled` on RegionDropdownProps"
Typed as strings, but should be booleans.

[2020-03-20 18:46] #85 closed

[2020-03-21 16:37] #81 closed

[2020-03-22 15:51] schmem55 opened #86 "Does it works with React native?"
hi
i would like to use it with react native but i receive this error

Invariant Violation: Text strings must be rendered within a <Text> component.

react native 0.59.10

[2020-03-22 17:35] benkeen commented on #86
Hi @schmem55, no I'm afraid react-native is a very different creature indeed. You'll need to use react-native components for dropdowns. This script won't work with that.

[2020-03-23 11:48] schmem55 commented on #86
@benkeen
thanks

[2020-03-23 11:48] #86 closed

[2020-03-24 17:26] dareiff opened #87 "country-region-data for Finland is not reflecting the 1.5.1 release"
I’ve checked devDependencies, and it’s pointing to the 1.5.1 release, but the region information for Finland is reflecting pre-1.5.1 data.

<img width="447" alt="Screen Shot 2020-03-24 at 10 25 37 AM" src="https://user-images.githubusercontent.com/435896/77457370-d0f02d80-6db9-11ea-9f4c-0624d0a36c94.png">

[2020-03-28 23:22] benkeen commented on #87
Ah I see. My bad, I didn't notice you made the change to the `data.js` file - the source is actually `data.json` - so it was overwritten. I'll update the contribution doc to make it clearer and release a new version shortly.

[2020-03-28 23:46] benkeen commented on #87
I just released 2.1.0 that includes this fix. Thanks @dareiff.

[2020-03-28 23:46] #87 closed

[2020-04-06 05:06] #42 closed

[2020-04-12 21:32] solomonakp commented on #77
error still persists cause i am having it right now

[2020-04-25 22:17] knynkwl opened #91 "Yup Support"
Was wondering how to hook this up to Yup validation, or if possible.

https://github.com/jquense/yup

Thanks!

[2020-04-28 16:39] dojr opened #92 "v3.0.0 with hooks, updated dependencies, and forward ref"
Hey @benkeen I've made some progress on updating the library in my fork here https://github.com/dojr/react-country-region-selector

I've converted the tests and updated each dropdown to use hooks and forward the ref.

I've also updated some of the dependencies including babel and added jest with the testing library and removed enzyme.

I experimented with the publishing library ship.js but I'm sti

[2020-04-29 04:53] benkeen commented on #92
Hey @dojr, nice! How about just put in a PR now against master? Yes, this'll be a 3.0.0 release but I can do all that after merging your code in. A PR will help me see the changes you made so I can give better feedback.

[2020-05-13 13:27] ichbindermann opened #94 "Conflict with materialize css"
Hi, i have a trouble when import materialize css in same component with country-region-selector.

Selectors are hidden.

[2020-07-03 09:11] puneetverma05 commented on #83
Any Updates?

[2020-07-16 20:00] ernestpascual commented on #79
I encountered the same thing so I tried firing a button that changes the state of the country for the region dropdown and the customOptions showed.

I also peeked the [code](https://github.com/country-regions/react-country-region-selector/blob/527e840c8e12657e1aa92feb1ae68da2c5b2d89b/src/RegionDropdown.js#L15) and saw `...this.getCustomOptions(defaultRegions)` in  componentDidUpdate 😂

To solve th

[2020-07-31 20:00] christrt9 opened #95 "Can support Flag?"
Can I add Flag for every Country?

[2020-08-08 10:26] SivaGanesh56 commented on #76
Yes my requirement is also same. guys can you please respond on this quickly

[2020-08-08 10:27] SivaGanesh56 commented on #58
is there any way to pass our own custom data to it ?

[2020-08-21 17:08] abdellatifLabr opened #96 "Read only option"
This is a feature request
We would like to have a readOnly option for both country select & region select components.

[2020-09-01 16:29] AnujaDalal opened #97 "Redux-form <Fields> with country/region dropdown gives problem in reseting options"
I am using react-country-region-selector in redux-form.
[code]
This is how CountryProvinceDropdown looks like -

[code]

Things work fine when form is submitted without error and submission is successful.
But in the case if server sends error then dropdown shows the old selection of country and province along with error. Old selection is also fine but when form is re-submitted, consequent submissi

[2020-09-02 20:55] AnujaDalal commented on #97
This issue can be closed . I changed the binding for onChange and onBlur, now working.
[code]

[2020-09-02 20:55] #97 closed

[2020-09-03 05:00] dan003400 opened #98 "Missing blacklist prop from RegionDropdown component"
You should be able to blacklist an array of regions no matter which country is selected.

You would also want to be able to dynamically set this array based on which country is selected to remove certain regions.

[2020-09-03 05:04] dan003400 commented on #98
Looks like there is already a PR for this, can we get this merged in? - #38

[2020-09-03 15:01] benkeen commented on #98
Sure, let me take a look at this tonight.

[2020-09-03 20:40] dan003400 commented on #98
Awesome, let me know if you need any help.

[2020-09-04 05:21] benkeen commented on #98
I've merged it in, plus a couple of other additions, but I'll need a couple of days to tidy everything up and get it into a release. If you don't see a new version by Sunday or Monday, feel free to bug me :)

[2020-09-04 05:23] dan003400 commented on #98
Sounds good, much appreciated 🎉

[2020-09-04 05:25] benkeen commented on #96
Hi @abdellatifLabr! If you pass `readOnly` to either element, that should end up on the generated `<select>` elements. But may I ask, what would this be needed for? Just curious. You can always add a `disabled` prop to prevent the user from changing the values.

[2020-09-04 09:17] abdellatifLabr commented on #96
@benkeen I'm using a ui library that has style difference between disabled & read only

[2020-09-04 15:35] benkeen commented on #96
Ah, thanks! Yes, let me know if passing that prop doesn't work - but it should be fine.

[2020-09-04 15:35] #96 closed

[2020-09-08 03:10] benkeen commented on #98
Sorry, gotta bump this to tomorrow night.

[2020-09-08 04:10] dan003400 commented on #98
No problem at all.

Are there any thoughts to make it easier to supply your own datasets?

Thanks!

[2020-09-09 03:10] benkeen commented on #98
Hey Dan, I just released 3.0.0 which includes the new blacklist & whitelist feature. Demo here (rows 10 & 11): http://country-regions.github.io/react-country-region-selector/

The integration with the country-region-data dataset isn't that great... I think were I to approach this today, I'd maybe do something like this. Export a `<RCRSProvider>` from this package that you could wrap both the `<Cou

[2020-09-09 03:14] dan003400 commented on #98
Ah this is perfect. I will give it a try.

Thanks a ton. Let me know how I can ever help on anything else going forward.

[2020-09-10 05:05] dan003400 commented on #98
@benkeen  - Doesnt look like a <CRProvider> is exported from your package. Have you actually tried the code above?

[2020-09-10 15:31] benkeen commented on #98
Hmm, I've just used it via in the examples - but that should consume the build artifacts so should be good. I'll take a look tonight, sorry about that.

[2020-09-10 19:10] dan003400 commented on #98
Recently published a cleaned up typescript version of this repo here:

https://www.npmjs.com/package/@bettercart/react-country-region-selector

This also includes the context provider for custom data, we also pushed a new version of the data that is much cleaner, more accurate and it also includes some meta like zip_required.

https://www.npmjs.com/package/@bettercart/country-region-data

Let me k

[2020-09-11 04:24] benkeen commented on #98
Ah sorry, perhaps we're talking cross-purposes. That code I posted above was just a suggestion of how I'd refactor this - it's not implemented I'm afraid.

And nice!!! That's fantastic - any chance you'd put a PR in? I've love to convert it to TS and providing the context provider would be a terrific addition! Maybe put in a PR and I'll look it over there.

[2020-09-20 02:35] #98 closed

[2020-09-25 20:56] pg185136 commented on #37
@benkeen , Is there a way to get the 'shortCodes' when the valueType="full"?
I need to get the short code "US" when I selected "United States of America".

[2020-09-26 11:54] Bersaelor opened #100 "CountryRegionData not exported"
Hey there,

I installed version `3.0.0` of the repo, unfortuntaley it seems the documentation is out of date, as it seems that `CountryRegionData` is no longer exported separately?

i.e.

<img width="1153" alt="Screen Shot 2020-09-26 at 13 53 49 " src="https://user-images.githubusercontent.com/4517582/94340151-b95f5f00-ffff-11ea-8e72-6de893dbc61f.png">

[2020-09-26 19:37] benkeen commented on #100
Hmm! I'll take a look today, thanks.

[2020-09-27 03:55] benkeen commented on #100
You're using Typescript? Looks like CountryRegionData is being exported properly but the typings file is incorrect. Looks like your IDE is picking up on that. For now, just suppress the ts error - I'll patch this in 3.0.1. Thanks!

[2020-09-27 04:31] benkeen commented on #100
3.0.1 is now released. If you still have any trouble, let me know.

[2020-09-27 04:31] #100 closed

[2020-10-06 08:14] alphabet-codes opened #101 "Documentation Typo"
I came across a typo in the documentation while going through it
![region](https://user-images.githubusercontent.com/40604284/95176075-43ec4f00-07b4-11eb-87bc-437a92e05e9a.png)

[2020-10-06 08:15] alphabet-codes commented on #101
I'm interested in submitting a pull request that fixes this issue.

[2020-10-07 02:37] benkeen commented on #101
Possibly my English is a bit funny, but that reads just fine to me. That said, if you fancy making my English _not_ suck, PRs welcome!

[2020-10-07 05:58] alphabet-codes commented on #101
Thanks

[2020-10-07 06:21] alphabet-codes commented on #101
Have successfully submitted a pull request. I'd be honored if it gets merged. @benkeen

[2020-10-08 03:25] benkeen commented on #101
Merged, thanks @alphabet-codes :)

[2020-10-08 03:25] #101 closed

[2020-10-15 20:05] acchaulk opened #103 "React-select support?"
I'm interested in using this library, but using [react-select](https://github.com/JedWatson/react-select). Do you have any recommendations on how I could do so? I suppose it might be possible to be able to pass a custom `Select` component, but that would also mean changing some of the props and how options are generated/passed in. The other thought would be to expose some of the utility methods us

[2020-10-20 19:53] benWozak commented on #37
I was hoping for this feature as well, but it doesn't look like it's currently supported. I think the workaround for now would be to do a lookup on CountryRegionData after selecting country and region and pull the codes from there.

[2020-10-24 22:27] igeligel commented on #100
I still have this error. Will look into how to fix it the following days

[2020-11-22 19:08] danishmuneer opened #104 "Add <optgroup> with labels to separate "priorityOptions" and the rest"
This is a feature request.

It would be better to have the options wrapped in separate "optgroup" if "priorityOptions" is passed an array. Also the ability to set optgroup label to distinguish the two lists. I have attached a screenshot to explain the idea better.

![Capture](https://user-images.githubusercontent.com/26395892/99914501-d779d080-2ccb-11eb-8422-6ffc72137add.PNG)

[2020-11-24 16:28] ncoen97 commented on #86
@schmem55
Hi! Did you found any other options for react native?
I came across react-native-country-picker-modal but it only ollows you to select the country 😢

[2020-11-29 00:41] benkeen commented on #103
Good question! I was just wondering the same for one of my own projects. :)

React-select is really pretty specific. It owns its own DOM and has its own structure of the code. So frankly I don't think this library is really that compatible. At the moment I'm thinking it may be better to just use the underlying https://github.com/country-regions/country-region-data library (which contains the raw c

[2020-11-29 01:38] benkeen commented on #103
What I ended up doing is writing a convertor function to extract and separate the country & region data from the source repo, then have my app dynamically load the region data after the user selects a particular country. This keeps the file size as small as possible (just 4KB for the country data) which was a concern for me. The following code serializes the info into as small a format as possible

[2020-12-04 07:37] #103 closed

[2020-12-08 10:45] Parina512 opened #105 "Kosovo is not added in country List"
here I'm using react-country-region-selector's version 3.0.1 and not getting kosovo in country list and by using customOptions as attribute in <RegionDropdown> also not getting country name in dropdown

As I can see in package.json it is using  "country-region-data": "^1.6.0" and in  country-region-data' version 1.6.0 source code contain kosovo in data.json

[2020-12-29 05:54] amy111patel opened #106 "Amman is missing in the state/region list of jordan"
Amman is missing in the state/region list of jordan,
Can you please update it to this

Great work,
Thanks

[2021-01-19 03:13] iamclaytonray commented on #76
You can create a new array like:

[code]

[2021-01-19 03:15] iamclaytonray commented on #100
This is fixed in 3.0.2 (released today)

[2021-01-28 14:32] estevanpedro commented on #83
Still waiting

[2021-02-14 10:14] Parina512 commented on #105
Hello any updates on this? Still I'm not able to see KOSOVO in CountryDropdown of new version 3.0.2

[2021-02-26 10:00] ExplodingCabbage opened #108 "required attribute wrongly disallowed by typings"
Per https://github.com/country-regions/react-country-region-selector/issues/72, passing a `required` attribute to one of the dropdowns defined in this library is meant to be kosher, but if you try to do so in TypeScript, you'll get a type error.

I think the solution to this may simply be to replace `Element` with `HTMLSelectElement` in index.d.ts?

[2021-03-05 19:19] cweston171 opened #109 "Can we get the data values updated to 1.7.0?"
Just a request to update the version for https://github.com/country-regions/country-region-data feeding selection options to 1.7.0 within this plugin.

Specifically the country-region-data that it relies on is old/out of date. The latest in github looks valid at 1.7.0 and doesn't have GLA which is listed as "Glaslow, City of", which isn't valid.

[2021-03-17 21:06] Hector-Ariceaga opened #110 "Blacklist prop missing from RegionDropdownProps"
If you look inside the index.d.ts file you'll see that the blacklist prop is missing.

[2021-04-13 13:56] fx2000 commented on #83
You can use `react-hook-forms` Controller, for example:

[code]

Works just fine.

[2021-04-14 20:05] fx2000 opened #111 "Support for multiple languages (Proof-Of-Concept)"
I have a proof-of-concept fork running with support for multiple languages, it still needs a bit of work but it's functional at the moment. To test it I added Spanish strings based on ISO 3166-1 to a fork of `country-region-data`. I did it for personal reasons for a project I'm working on, but I thought this might interest you as something that could be incorporated into a future release.

https:/

[2021-06-03 07:01] danielkhtse opened #113 "feature request: optional country flag/icon added"
display a country flag icon before the value

[2021-06-04 15:41] sowbobo12000 opened #114 "Can i use this for React Native?"
I get this error when i tried to use the usage code.
Error: Text strings must be rendered within a <Text> component.

[2021-06-14 13:01] aswathykrishna1804 commented on #37
you can try

`
import { CountryDropdown, RegionDropdown, CountryRegionData } from 'react-country-region-selector';
`

in render

`<CountryDropdown
            value={this.state.country}
            onChange={(val) => this.selectCountry(val)}
          />`

and in onchange function

`
selectCountry(val) {
    const country = CountryRegionData.find((countryArray) => countryArray[0] === val)[1];

[2021-07-27 02:39] sh1luo commented on #113
Yes, like this:
![a889b68b92edb89a6fe9c40450824dc](https://user-images.githubusercontent.com/51157931/127086460-3c4ab751-ce45-433c-bfdd-3e872b69bf56.png)

[2021-08-16 12:06] JogiPrasadPakki opened #116 "Upgrade country-region-data to 1.10"

[2021-08-16 12:08] JogiPrasadPakki commented on #116
Upgrade to country-region-data from 1.09.0 to 1.10.0

[2021-08-18 02:07] benkeen commented on #116
I just released 3.3.0 of react-country-region-selector that includes this new version of country-region-data.

[2021-08-18 02:07] #116 closed

[2021-08-18 02:08] benkeen commented on #114
I'm afraid not! React-native is quite different and will need native components to render the fields.

[2021-08-18 02:08] #114 closed

[2021-08-24 16:20] maxeth opened #117 "dropdown props missing "style" property in typescript type definition"
The docs show an example of manually styling the dropdown using the ```style``` attribute, yet the attribute is not recognized by typescript on neither the CountryDropdown nor the RegionDropdown. I haven't looked into it thoroughly, but I believe it would be good to add

[code]
to the (Country- &)RegionDropdownProps interface in the ```index.d.ts``` file.

[2021-09-21 09:36] smitit173 opened #119 "Add support for dark mode for the country region selector"
Need dark mode support for the country and region dropdowns

<img width="546" alt="Screenshot 2021-09-21 at 3 05 02 PM" src="https://user-images.githubusercontent.com/26775288/134147890-0fb91b14-b2b8-4a68-897c-d2583f723818.png">

As seen in the image, the input field needs to blend with the background and also the selected text is not visible in the dark mode

[2021-09-21 15:18] benkeen commented on #119
Hi @smitit173, for this you'll need to style it on your end. The fields are just plain HTML <select> fields, so can be styled accordingly. You can pass a class to the component if that helps - but more likely you'll want a broader styling for all dropdown fields to make them styled as such.

All the best!

[2021-09-21 15:18] #119 closed

[2021-09-22 10:58] smitit173 commented on #119
Thanks for the quick response @benkeen :)

[2021-11-27 14:18] guillaumeayad opened #121 "Typo in Nouvelle-Calédonie region"
Hello, there is a **u** missing.

~~Novelle-Calédonie~~ -> No**u**velle-Calédonie

[2021-12-17 16:25] #71 closed

[2021-12-17 16:27] benkeen commented on #109
Sorry about that. We're up to 1.11.0 now.

[2021-12-17 16:27] #109 closed

[2021-12-17 16:31] benkeen opened #123 "4.0.0 - changes a' comin'"
Hey all. I need to learn Nx, and this is a perfect little package to experiment with.

So in the next few weeks I'm going to take a little time to do a bunch of spring (fine, winter) cleaning:
- convert the repo to Nx
- update the country-region-data package to have a new export of proper es6 code for the country data. This's greatly simplify keeping your bundle sizes small if you only want a subs

[2021-12-18 12:00] iamclaytonray commented on #123
I have some suggestions & could also collab if you want/need.

1. [Preconstruct](https://preconstruct.tools/) is really neat
2. Rewriting in TypeScript would be neat
3. Rewrite defaultProps to default values (when destructuring props). React Core has decided to deprecate defaultProps for functional components (at least). (ex: `const Ex = ({ items = [], ... }) => { ... }`

[2021-12-18 17:30] benkeen commented on #123
Hey! Yeah, help always appreciated - let me just figure out how to tackle it and I'll post here with the plan.

1. Huh, don't know that one. But I think for now I just want to use Nx; it's something I need to try for work, so that'll be enough for now.
2. Agreed! Let's make it TS.
3. Agreed. Bit cleaner.
4. What sort of change are you thinking here? Change the API of the onChange callback itself?

[2021-12-20 22:39] benkeen commented on #123
Heya, so quick update on this. I'm working on:
- getting Nx set up so the package builds. For now I'm just going to rename the files to .ts and suppress any warnings. The code updates can come next.
- I'm going to drop the custom demo page and just use Storybook instead for local development & for the github pages.

Once this much is working I'll update the doc for instructions on how to work loca

[2021-12-21 22:10] benkeen commented on #123
Another update. Nx is going well, but I've decided to make a number of breaking changes after all. Above all I want to make it easier for people to generate smaller bundle sizes - importing all of country-region-data massively increased the amount of code needed to be downloaded. So I've entirely separated the components from the data source and added a provider component to let you supply the dat

[2021-12-22 12:34] iamclaytonray commented on #123
This is looking good. Sorry for the delay, had a release this week at work 😅

re: onChange handler

It may be slightly easier to just access the direct value as the first arg but it makes integration with form libraries (react-hook-form, formik) very convoluted. These form libraries have really grown in popularity because most people realize it's difficult managing validation state, regular form s

[2021-12-22 16:17] benkeen commented on #123
Yeah maybe you're right. At a previous job we chose the `(value, event) => ...` param callback choice for all callbacks across our shared component library and I think it was a good one: first it was convenient, but a secondly it was done consistently for every component which made it easy to learn the pattern. But for a standalone lib like this it'd be unexpected. Cool, ok - I'll include change &

[2021-12-22 16:31] benkeen commented on #92
This change will be included in 4.0.0.

[2021-12-22 16:37] benkeen commented on #104
Agreed, this would be nice. I'll see if I can get it into 4.0.0. Will tentatively shoot for that.

[2022-02-25 10:23] MohammedHafiz opened #129 "color"
is there any method to change the color of the placeholder??

[2022-05-03 08:00] Azeirah commented on #113
There are flag icons available as emojis: https://emojipedia.org/flags/

[2022-07-31 08:27] RehkMansa opened #134 "React version is outdated"
Tried connecting it with react version 18.2.0 and I'm, having this error
![image](https://user-images.githubusercontent.com/86684329/182017440-47406759-e21a-4910-9e61-f04b009c97ec.png)

[2022-08-02 04:37] benkeen commented on #134
Thanks. I'll check it out & try to release a new version tomorrow night. Should be perfectly compatible with React 18.

[2022-08-03 00:26] Visualieyes commented on #134
Had this same issue, thank you! Looking forward to the updated version!

[2022-08-03 05:21] benkeen commented on #134
I just release `3.6.0`, mind giving that a go? I did some tests and everything seemed ok. But let me know if there are any problems!

[2022-08-03 09:04] artemkanaki opened #135 "Invalid react-dom version configuration"
Hi react-country-region-selector team!

we having trouble running the `npm i` command after a recent update of the library. I noticed in your package.json that the react-dom version is `>=^15` and it causes the install command fails. I think it should be configured like `>=15`. I've attached the npm log bellow

[2022-08-03T08_29_11_564Z-debug-0.log](https://github.com/country-regions/react-country

[2022-08-03 15:07] benkeen commented on #135
Drat, apologies. I'll release a new version tonight to patch it. Sorry for the wait.

[2022-08-04 02:24] benkeen commented on #135
I just published `3.6.1`. Let me know if you still have problems. :)

[2022-08-23 17:54] MattiasHenders opened #136 "South Korea naming convention"
Hello!
I know officially South Korea is "Republic of Korea".
However most platforms use South Korea (Shopify, Google, etc)

Would there be anyway to change the Name of the country without changing the source data?
I like having the source data as a single source of truth

[2022-08-31 14:11] webcodejunkie commented on #129
What do you mean by that?
If you want to change the color of the component, you can just pass a class to the component with color properties.

[2022-08-31 14:13] webcodejunkie commented on #134
Is this issue closed?
This happens to come up in my project every time I try to add a new package.

[2022-09-07 10:13] Imsatis opened #137 "Getting undefined when selecting valueType="short" on the Region Dropdown when selecting "Puerto Rico" country. As i checked there is an package called country-region-data there is no shortCode on some of the countries region https://github.com/country-regions/country-region-data/blob/master/data.json#L1"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-country-region-selector@3.6.1` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2022-09-26 21:08] ctaylor4874 opened #138 "Bump version of country-region-data"
We have a request to add Iifov to the Romanian regions and I see this update was already made in `country-region-data` repository [here](https://github.com/country-regions/country-region-data/blob/cea7e53dadba668193c3331f2bf246d50b604830/data.json#L12597-L12600). Can we bump the version and publish a new package?

[2022-10-09 11:45] UndercoverNL opened #139 "Region value won't reset if country gets set to `Select Country`"
When having a country and region selected, and setting the country back to the `Select Country` value, it will reset the visual of the regions dropdown but not update the value following the `onChange` method.

using `showDefaultOption={false}` will fix this of course, but this stays a bug when not having this option set to `false`

[2022-10-11 06:43] eddiej commented on #76
How can this custom data be fed into the Selector?

[2022-10-21 04:36] benkeen commented on #138
Ack, sorry @ctaylor4874, I missed this. Let me take a look, that's odd...

[2022-10-21 04:56] benkeen commented on #138
Looks okay to me - I did a fresh checkout of 3.6.1 and integrated it into a separate app. I see the new Romanian region listed, however it's appearing after Brasov, rather than alphabetically. Other than that looks good.